<!-- Page Heading -->
<app-page-header></app-page-header>
  <div class="my-2 action-btns">
      <button type="button" class="btn btn-primary mx-1 btn-add" (click)="onAddClick()">Add</button>
      <button type="button" class="btn btn-success mx-1 btn-save">Save</button>
      <button type="button" class="btn btn-danger mx-1 btn-delete">Delete</button>
  </div>
  <ag-grid-angular 
  style="width: 100%; height: 500px;" 
  class="ag-theme-alpine"
  (gridReady)="onGridReady($event)"
  [rowSelection]="rowSelection"
  [columnDefs]="columnDefs"
  [pagination]="true"
  [paginationPageSize]=20
  >
  </ag-grid-angular>
  
  
  <!-- modal -->
  <ng-template #content let-modal>
      <div class="modal-header">
          <h4 *ngIf="mode=='new'" class="modal-title" id="modal-title">ADD MAGFORM FISCAL YEAR SETTING</h4>
          <h4 *ngIf="mode=='edit'" class="modal-title" id="modal-title">EDIT MAGFORM FISCAL YEAR SETTING</h4>
          <button
              type="button"
              class="btn-close"
              aria-label="Close button"
              aria-describedby="modal-title"
              (click)="modal.dismiss('Cross click')"
          ></button>
      </div>
      <form [formGroup]="componentForm" (ngSubmit)="onFormSubmit()">
          <div class="modal-body">
            <div class="password mb-3 form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input formControlName="name" id="signin-password" name="signin-password" type="text" class="form-control signin-password"  required="required">
                </div>
            </div>
            <div class="password mb-3 form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Fiscal Year</label>
                <div class="col-sm-8">
                    <select class="form-select" formControlName="fiscalyear">
                        <option value=""></option>
                        <option value="{{item.name}}" *ngFor="let item of fiscalYears">{{item.name}}</option>
                      </select>
                </div>
            </div>
              <div class="password mb-3 form-group row">
                  <label for="inputPassword" class="col-sm-4 col-form-label">Header</label>
                  <div class="col-sm-8">
                      <input formControlName="header" id="signin-password" name="signin-password" type="text" class="form-control signin-password"  required="required">
                  </div>
              </div>
              <div class="password mb-3 form-group row">
                  <label for="inputPassword" class="col-sm-4 col-form-label">Nagar Teacher</label>
                  <div class="col-sm-8">
                    <select class="form-select" aria-label="Default select example" formControlName="nagarTeacher">
                        <option> </option>
                        <option value="हो">हो</option>
                        <option value="होइन">होइन</option>
                      </select>
                  </div>
              </div>
              <div class="password mb-3 form-group row">
                  <label for="inputPassword" class="col-sm-4 col-form-label">Status</label>
                  <div class="col-sm-8">
                    <select class="form-select" aria-label="Default select example" formControlName="status">
                        <option> </option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
              <button type="submit" style="color: white;" ngbAutofocus class="btn btn-danger">Save</button>
          </div>
      </form>
  </ng-template>
  