<!-- Page Heading -->
<app-page-header></app-page-header>

<div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-4 border-1">
        <div class="row g-3">
            <div class="col-sm-12">
                <div class="card-body p-0">
                    <table class="table table-striped text-center ">
                        <tbody>
                            <tr>
                                <td>Level</td>
                                <td>मा.शि.</td>
                            </tr>
                            <tr>
                                <td>Shreni</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Grade Limit</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Created At</td>
                                <td>0000-00-00 00:00:00</td>
                            </tr>
                            <tr>
                                <td>Updated At</td>
                                <td>2020-06-09 12:16:12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
