<!-- Page Heading -->
<app-page-header></app-page-header>

<div class="accordion accordion" id="accordionFlushExample">
    <div class="accordion-item text-center">
      <h2 class="accordion-header" id="flush-headingOne" (click)="onFormHeaderClick()">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Search Form
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse" [ngClass]="{'show': showSearchForm, 'collapse':!showSearchForm}" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <!-- <div class="card my-1"> -->
            <div class="card-body">
                <form class="row g-3" (ngSubmit)="onFormSubmit()" (reset)="onFormReset()" [formGroup]="searchForm">
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">लिङ्ग</label>
                      <select class="form-select" formControlName="gender">
                        <option value=""></option>
                        <option value="अन्य">अन्य</option>
                        <option value="महिला">महिला</option>
                        <option value="पुरुष">पुरुष</option>
                    </select>
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">प्रकार</label>
                      <select class="form-select" formControlName="type">
                        <option value=""></option>
                        <option value="स्थायी">स्थायी</option>
                        <option value="अस्थायी">अस्थायी</option>
                        <option value="राहत">राहत</option>
                        <option value="अनुदान">अनुदान</option>
                        <option value="दरदन्दी">दरदन्दी</option>
                        <option value="करार">करार</option>
                        <option value="नगर शिक्षक">गा.पा. शिक्षक</option>
                        </select>
                    </div>
                    <div class="col-6">
                      <label for="inputAddress" class="form-label">तह</label>
                      <select class="form-select" formControlName="level">
                        <option value=""></option>
                        <option value="उ.मा.शि.">उ.मा.शि.</option>
                        <option value="मा.शि.">मा.शि.</option>
                        <option value="नि.मा.शि.">नि.मा.शि.</option>
                        <option value="प्रा.शि.">प्रा.शि.</option>
                        <option value="प्रशिक्षक">प्रशिक्षक</option>
                        <option value="प्रशिक्षक सहायक">प्रशिक्षक सहायक</option>
                        <option value="का.सहायक">का.सहायक</option>
                        <option value="बिधालय सहयोगी">बिधालय सहयोगी</option>
                        <option value="बा.शि">बा.शि</option>
                        <option value="परिचर">परिचर</option>
                        <option value="का.स">का.स</option>
                        <option value="लेखापाल">लेखापाल</option>
                        <option value="सि.के">सि.के</option>
                        </select>
                    </div>
                    <div class="col-6">
                      <label for="inputAddress2" class="form-label">पद</label>
                      <select class="form-select" formControlName="post">
                        <option value=""></option>
                        <option value="शिक्षक">शिक्षक</option>
                        <option value="प्र.अ.">प्र.अ.</option>
                        <option value="अन्य">अन्य</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                      <label for="inputCity" class="form-label">बिद्यालय *</label>
                      <input type="text" class="form-control" formControlName="school">
                    </div>
                    <div class="col-12 btn-cnt">
                      <button type="reset" class="btn btn-primary">RESET</button>
                      <button type="submit" class="btn btn-primary mx-2">SEARCH</button>
                    </div>
                  </form>
            </div>
        <!-- </div> -->
      </div>
    </div>
</div>
<!-- <div class="card my-1">
    <div class="card-body">
        <form class="row g-3" (ngSubmit)="onFormSubmit()">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">लिङ्ग</label>
              <input type="email" class="form-control">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">प्रकार</label>
              <input type="password" class="form-control">
            </div>
            <div class="col-6">
              <label for="inputAddress" class="form-label">तह</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-6">
              <label for="inputAddress2" class="form-label">पद</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-12">
              <label for="inputCity" class="form-label">बिद्यालय *</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
    </div>
</div> -->

<ng-container>
    <div>
        <div class="my-2 action-btns" style="margin:0 auto">
            <button type="button" class="btn btn-primary mx-1 btn-add" (click)="onAddClick()">Add</button>
            <button type="button" class="btn btn-success mx-1 btn-save">Save</button>
            <button type="button" class="btn btn-danger mx-1 btn-delete">Delete</button>
        </div>
    </div>
    
    <ag-grid-angular
    [style]="tableConfig.style" 
    [class]="tableConfig.class"
    (gridReady)="onGridReady($event)"
    [rowSelection]="rowSelection"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [paginationPageSize]="tableConfig.paginationSize"
    >
    </ag-grid-angular>
</ng-container>
