<!-- Page Heading -->
<app-page-header></app-page-header>

<div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-4 border-1">
        <div class="row g-3">
            <div class="col-sm-12">
                <div class="card-body p-0">
                    <table class="table table-striped  text-center">
                        <tbody>
                            <tr>
                                <td>कर्मचारी तह</td>
                                <td>{{record.level}}</td>
                            </tr>
                            <tr>
                                <td>श्रेणी</td>
                                <td>{{record.position}}</td>
                            </tr>
                            <tr>
                                <td>ग्रेड</td>
                                <td>{{record.grade}}</td>
                            </tr>
                            <tr>
                                <td>रु</td>
                                <td>{{record.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
