<!-- Page Heading -->
<app-page-header></app-page-header>

<div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-4 border-1">
        <div class="row g-3">
            <div class="col-sm-12">
                <div class="card-body p-0">
                    <table class="table table-bordered text-justify ">
                        <tbody>
                            <tr>
                                <td> Fiscal Year </td>
                                <td>{{record.fiscalyear}}</td>
                            </tr>
                            <tr>
                                <td> Title </td>
                                <td>{{record.name}}</td>
                            </tr>
                            <tr>
                                <td> Nagar Teacher </td>
                                <td>{{record.nagarTeacher}}</td>
                            </tr>
                            <tr>
                                <td> Status </td>
                                <td>{{record.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row g-3 my-4">
            <div class="col-sm-12">
                <div class="card-body p-0">
                    <table class="table table-bordered text-justify ">
                        <tbody>
                            <tr>
                                <td colspan="2" class="text-center"><h5>INCLUDED MAGFORM ITEM </h5></td>
                            </tr>
                            <tr>
                                <td> MAGFORM ITEM LISTS </td>
                                <td>REGISTERED ITEM LIST</td>
                            </tr>
                            <tr>
                                <td> 
                                    <span *ngFor="let item of magFormItemList;let i = index">
                                        <input class="form-check-input mx-1" type="checkbox" value="{{item.name}}" id="flexCheckDefault" (change)="onCheckboxSelectionChange(item,i)">
                                        <label class="form-check-label mx-4" for="flexCheckDefault">
                                          {{item.name}}
                                        </label> <br/>
                                    </span>
                                    <button type="button" class="btn btn-success my-3" (click)="onAddItemClick()">Add Item</button>
                                </td>
                                <td> 
                                    <span *ngFor="let item of registeredItemList; let i = index">
                                        <input class="form-check-input mx-1" type="checkbox" value="{{item.name}}" id="flexCheckDefault" (change)="onRegisteredCheckboxSelectionChange(item,i)">
                                        <label class="form-check-label mx-4" for="flexCheckDefault">
                                          {{item.name}}
                                        </label> <br/>
                                    </span>
                                    <button (click)="onRemoveClick()" type="button" class="btn btn-danger my-3">Remove Item</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>