<!-- Page Heading -->
<div class="card page-header">
    <div class="card-body page-header text-gray-800">
        <h4>कर्मचारी बिस्तारि विवरणा</h4>
    </div>
</div>

<div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-4 border-1">
        <div class="row g-3">
            <div class="col-sm-4">
                <div class="card-body p-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/4974/4974985.png" alt="" height="200" width="200">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card-body p-0">
                    <table class="table table-striped ">
                        <tbody>
                            <tr>
                                <td>NAME (नाम)</td>
                                <td>: ( 256_कर्मचारी साह )</td>
                            </tr>
                            <tr>
                                <td>लिङ्ग</td>
                                <td>पुरुष</td>
                            </tr>
                            <tr>
                                <td>प्रकार/तह/पद/ग्रेड</td>
                                <td>स्थायी/नि.मा.शि./शिक्षक/8</td>
                            </tr>
                            <tr>
                                <td>अस्थायी/स्थाई पदमा नियुक्ती / बढुवा मिति</td>
                                <td> //</td>
                            </tr>
                            <tr>
                                <td>विवाहित/अविवाहित</td>
                                <td>अविवाहित</td>
                            </tr>
                            <tr>
                                <td>सम्पर्क नम्बर</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>बिद्यालयको नाम</td>
                                <td>24-विद्यालय - ६टोल</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body text-center">
      ADDITIONAL INFORMATION
    </div>
    <div class="card-body">
        <table class="table" >
            <tbody>
                <tr>
                    <td>विशेष मामला : </td>
                    <td>जातीय : /</td>
                </tr>
                <tr>
                    <td>स्थाई ठेगाना :</td>
                    <td>अस्थायी ठेगाना :</td>
                </tr>
                <tr>
                    <td>बैंक :</td>
                    <td>खाता नम्बर :</td>
                </tr>
                <tr>
                    <td>बीमा नं. :</td>
                    <td>कर्मचारी संञ्चयकोष नं. : 0</td>
                </tr>
                <tr>
                    <td>नागरिक लगानी कोष नं. :</td>
                    <td>स्थिति : सक्रिय</td>
                </tr>
                <tr>
                    <td>सिर्जना द्वारा / मा : 0/0000-00-00 00:00:00</td>
                    <td>परिवर्तन द्वारा / मा : 1/2023-01-29 15:18:31</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>