<!-- Page Heading -->
<app-page-header></app-page-header>

<div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-4 border-1">
        <div class="row g-3">
            <div class="col-sm-4">
                <div class="card-body p-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/4974/4974985.png" alt="" height="200" width="200">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card-body p-0">
                    <table class="table table-striped ">
                        <tbody>
                            <tr>
                                <td>NAME (नाम)</td>
                                <td>{{record.fname_eng}} {{record.mname_eng}} {{record.lname_eng}}</td>
                            </tr>
                            <tr>
                                <td>लिङ्ग</td>
                                <td>{{record.gender}}</td>
                            </tr>
                            <tr>
                                <td>प्रकार/तह/पद/ग्रेड</td>
                                <td>{{record.type}}/{{record.level}}/{{record.post}}/{{record.grade}}</td>
                            </tr>
                            <tr>
                                <td>अस्थायी/स्थाई पदमा नियुक्ती / बढुवा मिति</td>
                                <td> {{record.temporary_appointment}}/{{record.permenant_appointment}}/{{record.promotion_date}}</td>
                            </tr>
                            <tr>
                                <td>विवाहित/अविवाहित</td>
                                <td>{{record.marital_status}}</td>
                            </tr>
                            <tr>
                                <td>सम्पर्क नम्बर</td>
                                <td>{{record.contact_no}}</td>
                            </tr>
                            <tr>
                                <td>बिद्यालयको नाम</td>
                                <td>{{record.school_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body text-center">
      ADDITIONAL INFORMATION
    </div>
    <div class="card-body">
        <table class="table" >
            <tbody>
                <tr>
                    <td>विशेष मामला : </td>
                    <td>जातीय : {{record.caste}}</td>
                </tr>
                <tr>
                    <td>स्थाई ठेगाना : {{record.permanent_address}}</td>
                    <td>अस्थायी ठेगाना : {{record.temp_address}}</td>
                </tr>
                <tr>
                    <td>बैंक : {{record.bank}}</td>
                    <td>खाता नम्बर : {{record.account_no}}</td>
                </tr>
                <tr>
                    <td>बीमा नं. {{record.insurance_no}}:</td>
                    <td>कर्मचारी संञ्चयकोष नं. : {{record.citizen_investment_no}}</td>
                </tr>
                <tr>
                    <td>नागरिक लगानी कोष नं. : {{record.citizen_investment_no}}</td>
                    <td>स्थिति : {{record.status}}</td>
                </tr>
                <tr>
                    <td>सिर्जना द्वारा / मा : 0/{{record.created_at}}</td>
                    <td>परिवर्तन द्वारा / मा : 1/{{record.updated_at}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>