<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Register Schools List</h1>
</div>

<!-- <div class="card o-hidden border-0 shadow-lg page-body" style="height:700px"> -->
    <!-- <div class="card-body p-0"> -->
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <tfoot>
              <tr>
                <th><input type="text" placeholder="Search ID" name="search-id"/></th>
                <th><input type="text" placeholder="Search first name" name="search-first-name"/></th>
                <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
                <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
                <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
                <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
              </tr>
            </tfoot>
        </table>
    <!-- </div> -->
<!-- </div> -->
        
