<!-- Page Heading -->
<app-page-header></app-page-header>

<div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-4 border-1">
        <div class="row g-3">
            <div class="col-sm-12">
                <div class="card-body p-0">
                    <table class="table table-bordered text-justify ">
                        <tbody>
                            <tr>
                                <td></td>
                                <td colspan="2" class="view-edit-btn">
                                    <a routerLink="/school/update/{{record.id}}"><i class="bi bi-pencil-fill"></i> UPDATE</a>
                                </td>
                            </tr>
                            <tr>
                                <td> NAME </td>
                                <td>{{record.school}}</td>
                            </tr>
                            <tr>
                                <td> TYPE </td>
                                <td>{{record.school_type}}</td>
                            </tr>
                            <tr>
                                <td> CODE </td>
                                <td>{{record.school_code}}</td>
                            </tr>
                            <tr>
                                <td> ADDRESS </td>
                                <td>डेमो नगरपालिका-१, टोल</td>
                            </tr>
                            <tr>
                                <td> CONTACT NO.</td>
                                <td>{{record.school_phone}}</td>
                            </tr>
                            <tr>
                                <td> EST. YEAR </td>
                                <td>{{record.est_year}}</td>
                            </tr>
                            <tr>
                                <td> CONTACT PERSON </td>
                                <td>{{record.principal_name}}</td>
                            </tr>
                        
                            <tr>
                                <td> BANK A/C</td>
                                <td>{{record.account_no}}</td>
                            </tr>
                            <tr>
                                <td> ENROLL CLASSES </td>
                                <td>{{record.enroll_class}}</td>
                            </tr>
                            <tr>
                                <td> Moto </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td> Subject List </td>
                                <td> <a href="/nikasa/basicInformation/SchoolSubject/1" class="btn btn-sm"> ADD  SCHOOL SUBJECT</a></td>
                            </tr>
                            <tr>
                                <td> Status  </td>
                                <td>{{record.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
