/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';

.login-moe-logo{
    height: 100px;
}

html {
    font-size: 15px;
    font-family: 'Roboto';
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#0a1d1f 10%,#3a0b57 100%);
    background-size: cover;
}

.collapse-inner{
    background-color: black !important;
}

.collapse-item{
    color: white !important;
}

.collapse-item:hover{
    color: black !important;
}

.nav-header{
    font-size: 20px;
    background-image: linear-gradient(180deg,#0a1d1f 10%,#3a0b57 100%);
    color: white !important;
}
.nav-item{
    margin-bottom: -15px;
}

.sidebar-divider{
    margin-bottom: 3px !important;
    margin-top: 2px !important;
}

.topbar {
    height: 3.5rem;
}

.input-field{
    width: 100% !important;
}

/* .button{
    background-color: #4d2263 !important;
    color: white !important;
} */

.page-body{
    padding: 2%;
}

table{
    color: rgb(40, 38, 38);
}

.action-btn-delete {
    padding: 5px;
    background: #880707;
    color:white;
    border-radius: 50%;
    font-size: 10px;
    padding-right: 7px;
    padding-left: 7px;

}

.action-btn-edit {
    padding: 5px;
    background: #041491;
    color:white;
    border-radius: 50%;
    font-size: 10px;
    padding-right: 7px;
    padding-left: 7px;
}
.action-btn-view {
    padding: 5px;
    background: #3f8a43;
    color:white;
    border-radius: 50%;
    font-size: 12px;
    padding-right: 7px;
    padding-left: 7px;
}

.no-border{
    border:none !important;
  }

.btn-add{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
}
.btn-save{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
}
.btn-delete{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
}

.page-header{
    margin: 0 auto !important;
    font-weight: bolder !important;
    /* background-color: #dcdcdc; */
}
.page-header-div{
        margin-bottom: 1% !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {
    background-color : #f2f2f2; 
}

select{
    background-color : #f2f2f2 !important; 
}

.active {
    background-color: #700970;
}

.ag-theme-alpine {
    /* --ag-foreground-color: rgb(52, 14, 54); */
    /* --ag-header-foreground-color:white; */
    /* --ag-header-background-color:#3a0b57;  */
    /* --ag-odd-row-background-color: rgb(0, 0, 0, 0.03); */
    /* --ag-header-column-resize-handle-color: rgb(126, 46, 132); */

    --ag-font-size: 13px;
    }

.btn-cnt button{
    float: right !important;
}

label{
    font-weight: bold;
}

.view-edit-btn{
    float: right;
}

