<!-- Page Heading -->
<app-page-header></app-page-header>
<div>
    <div class="my-2 action-btns" style="margin:0 auto">
        <button type="button" class="btn btn-primary mx-1 btn-add" (click)="onAddClick()">Add</button>
        <button type="button" class="btn btn-success mx-1 btn-save">Save</button>
        <button type="button" class="btn btn-danger mx-1 btn-delete">Delete</button>
    </div>
</div>
<ag-grid-angular 
[style]="tableConfig.style"
[class]="tableConfig.class"
(gridReady)="onGridReady($event)"
[rowSelection]="rowSelection"
[columnDefs]="columnDefs"
[gridOptions]="tableConfig.gridOptions"
[pagination]="true"
[paginationPageSize]="tableConfig.paginationSize"
>
</ag-grid-angular>
